<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" xmlns:genTemplate="http://schemas.microsoft.com/appx/developer/templatestudio" xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10" xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10" IgnorableNamespaces="uap uap3 rescap genTemplate">
  <Extensions>
    <Extension Category="windows.activatableClass.proxyStub">
      <ProxyStub ClassId="00000355-0000-0000-C000-000000000046">
        <Path>Microsoft.Windows.Widgets.Providers.Projection.dll</Path>
        <Interface Name="Microsoft.Windows.Widgets.Providers.IWidgetProvider" InterfaceId="5C5774CC-72A0-452D-B9ED-075C0DD25EED" />
        <Interface Name="Microsoft.Windows.Widgets.Providers.IWidgetProvider2" InterfaceId="38C3A963-DD93-479D-9276-04BF84EE1816" />
      </ProxyStub>
    </Extension>
  </Extensions>
  <Identity Name="Microsoft.Windows.DevHomeGitHubExtension.Dev" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="0.0.0.0" />
  <Properties>
    <DisplayName>Dev Home GitHub Extension (Dev)</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.22000.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="DevHomeGitHubExtension.exe" EntryPoint="$targetentrypoint$">
      <uap:VisualElements DisplayName="ms-resource:AppDisplayNameDev" Description="ms-resource:AppDescription" AppListEntry="none" BackgroundColor="transparent" Square150x150Logo="Assets\MedTile.png" Square44x44Logo="Assets\AppList.png">
        <uap:DefaultTile Wide310x150Logo="Assets\WideTile.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer Executable="DevHomeGitHubExtension.exe" Arguments="-RegisterProcessAsComServer" DisplayName="GitHub Extension Widget">
              <com:Class Id="F23870B0-B391-4466-84E2-42A991078613" DisplayName="GitHub Extension Widget" />
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer Executable="DevHomeGitHubExtension.exe" Arguments="-RegisterProcessAsComServer" DisplayName="GitHub Extension">
              <com:Class Id="6B5F1179-B2AE-4D5E-94FC-E5E119D1B8F0" DisplayName="GitHub Extension" />
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>
        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension Name="com.microsoft.devhome" Id="PG-SP-ID" PublicFolder="Public" DisplayName="ms-resource:AppDisplayNameDev" Description="ms-resource:AppDescription">
            <uap3:Properties>
              <DevHomeProvider>
                <Activation>
                  <CreateInstance ClassId="6B5F1179-B2AE-4D5E-94FC-E5E119D1B8F0" />
                </Activation>
                <SupportedInterfaces>
                  <DeveloperId />
                  <Repository />
                  <Settings />
                </SupportedInterfaces>
              </DevHomeProvider>
            </uap3:Properties>
          </uap3:AppExtension>
        </uap3:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="devhome">
            <uap:DisplayName>Login to Dev Home</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <desktop:Extension Category="windows.toastNotificationActivation">
          <desktop:ToastNotificationActivation ToastActivatorCLSID="01E4A0B1-D229-4A9A-8936-C2AC42BBCEC7" />
        </desktop:Extension>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer Executable="DevHomeGitHubExtension.exe" Arguments="----AppNotificationActivated:" DisplayName="DevHome GitHub Extension Toast Activator">
              <com:Class Id="01E4A0B1-D229-4A9A-8936-C2AC42BBCEC7" DisplayName="DevHome GitHub Extension Toast Activator" />
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>
        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension Name="com.microsoft.windows.widgets" DisplayName="ms-resource:WidgetProviderDisplayNameDev" Id="01" PublicFolder="Public">
            <uap3:Properties>
              <WidgetProvider>
                <ProviderIcons>
                  <Icon Path="Assets\StoreLogo.scale-100.png" />
                </ProviderIcons>
                <Activation>
                  <!-- Apps exports COM interface which implements IWidgetProvider -->
                  <CreateInstance ClassId="F23870B0-B391-4466-84E2-42A991078613" />
                </Activation>
                <Definitions>
                  <Definition Id="GitHub_Issues" DisplayName="Issues" Description="List of issues in a GitHub repository." IsCustomizable="true">
                    <Capabilities>
                      <Capability>
                        <Size Name="medium" />
                      </Capability>
                      <Capability>
                        <Size Name="large" />
                      </Capability>
                    </Capabilities>
                    <ThemeResources>
                      <Icons>
                        <Icon Path="Widgets\Assets\GitHubLogo_Light.jpg" />
                      </Icons>
                      <Screenshots>
                        <Screenshot Path="Widgets\Assets\IssuesScreenshotLight.png" DisplayAltText="DevHomeGitHub icon" />
                      </Screenshots>
                      <DarkMode>
                        <Icons>
                          <Icon Path="Widgets\Assets\GitHubLogo_Dark.png" />
                        </Icons>
                        <Screenshots>
                          <Screenshot Path="Widgets\Assets\IssuesScreenshotDark.png" DisplayAltText="DevHomeGitHub icon" />
                        </Screenshots>
                      </DarkMode>
                      <LightMode>
                        <Icons>
                          <Icon Path="Widgets\Assets\GitHubLogo_Light.png" />
                        </Icons>
                        <Screenshots>
                          <Screenshot Path="Widgets\Assets\IssuesScreenshotLight.png" DisplayAltText="DevHomeGitHub icon" />
                        </Screenshots>
                      </LightMode>
                    </ThemeResources>
                  </Definition>
                  <Definition Id="GitHub_PullRequests" DisplayName="Pull requests" Description="List of open pull requests in a GitHub repository." IsCustomizable="true">
                    <Capabilities>
                      <Capability>
                        <Size Name="medium" />
                      </Capability>
                      <Capability>
                        <Size Name="large" />
                      </Capability>
                    </Capabilities>
                    <ThemeResources>
                      <Icons>
                        <Icon Path="Widgets\Assets\GitHubLogo_Light.jpg" />
                      </Icons>
                      <Screenshots>
                        <Screenshot Path="Widgets\Assets\PullRequestsScreenshotLight.png" DisplayAltText="DevHomeGitHub icon" />
                      </Screenshots>
                      <DarkMode>
                        <Icons>
                          <Icon Path="Widgets\Assets\GitHubLogo_Dark.png" />
                        </Icons>
                        <Screenshots>
                          <Screenshot Path="Widgets\Assets\PullRequestsScreenshotDark.png" DisplayAltText="DevHomeGitHub icon" />
                        </Screenshots>
                      </DarkMode>
                      <LightMode>
                        <Icons>
                          <Icon Path="Widgets\Assets\GitHubLogo_Light.png" />
                        </Icons>
                        <Screenshots>
                          <Screenshot Path="Widgets\Assets\PullRequestsScreenshotLight.png" DisplayAltText="DevHomeGitHub icon" />
                        </Screenshots>
                      </LightMode>
                    </ThemeResources>
                  </Definition>
                  <Definition Id="GitHub_MentionedIns" DisplayName="Mentioned me" Description="List of issues and pull requests the user is mentioned in in a GitHub repository." IsCustomizable="true">
                    <Capabilities>
                      <Capability>
                        <Size Name="medium" />
                      </Capability>
                      <Capability>
                        <Size Name="large" />
                      </Capability>
                    </Capabilities>
                    <ThemeResources>
                      <Icons>
                        <Icon Path="Widgets\Assets\GitHubLogo_Light.jpg" />
                      </Icons>
                      <Screenshots>
                        <Screenshot Path="Widgets\Assets\MentionedInScreenshotLight.png" DisplayAltText="DevHomeGitHub icon" />
                      </Screenshots>
                      <DarkMode>
                        <Icons>
                          <Icon Path="Widgets\Assets\GitHubLogo_Dark.png" />
                        </Icons>
                        <Screenshots>
                          <Screenshot Path="Widgets\Assets\MentionedInScreenshotDark.png" DisplayAltText="DevHomeGitHub icon" />
                        </Screenshots>
                      </DarkMode>
                      <LightMode>
                        <Icons>
                          <Icon Path="Widgets\Assets\GitHubLogo_Light.png" />
                        </Icons>
                        <Screenshots>
                          <Screenshot Path="Widgets\Assets\MentionedInScreenshotLight.png" DisplayAltText="DevHomeGitHub icon" />
                        </Screenshots>
                      </LightMode>
                    </ThemeResources>
                  </Definition>
                  <Definition Id="GitHub_Assigneds" DisplayName="Assigned to me" Description="List of pull requests and issues assigned to the user in a GitHub repository." IsCustomizable="true">
                    <Capabilities>
                      <Capability>
                        <Size Name="medium" />
                      </Capability>
                      <Capability>
                        <Size Name="large" />
                      </Capability>
                    </Capabilities>
                    <ThemeResources>
                      <Icons>
                        <Icon Path="Widgets\Assets\GitHubLogo_Light.jpg" />
                      </Icons>
                      <Screenshots>
                        <Screenshot Path="Widgets\Assets\AssignedToMeScreenshotLight.png" DisplayAltText="DevHomeGitHub icon" />
                      </Screenshots>
                      <DarkMode>
                        <Icons>
                          <Icon Path="Widgets\Assets\GitHubLogo_Dark.png" />
                        </Icons>
                        <Screenshots>
                          <Screenshot Path="Widgets\Assets\AssignedToMeScreenshotDark.png" DisplayAltText="DevHomeGitHub icon" />
                        </Screenshots>
                      </DarkMode>
                      <LightMode>
                        <Icons>
                          <Icon Path="Widgets\Assets\GitHubLogo_Light.png" />
                        </Icons>
                        <Screenshots>
                          <Screenshot Path="Widgets\Assets\AssignedToMeScreenshotLight.png" DisplayAltText="DevHomeGitHub icon" />
                        </Screenshots>
                      </LightMode>
                    </ThemeResources>
                  </Definition>
                  <Definition Id="GitHub_Reviews" DisplayName="Review requested" Description="List of pull requests where the user is requested for a review." IsCustomizable="false">
                    <Capabilities>
                      <Capability>
                        <Size Name="medium" />
                      </Capability>
                      <Capability>
                        <Size Name="large" />
                      </Capability>
                    </Capabilities>
                    <ThemeResources>
                      <Icons>
                        <Icon Path="Widgets\Assets\GitHubLogo_Light.jpg" />
                      </Icons>
                      <Screenshots>
                        <Screenshot Path="Widgets\Assets\ReviewRequestedScreenshotLight.png" DisplayAltText="DevHomeGitHub icon" />
                      </Screenshots>
                      <DarkMode>
                        <Icons>
                          <Icon Path="Widgets\Assets\GitHubLogo_Dark.png" />
                        </Icons>
                        <Screenshots>
                          <Screenshot Path="Widgets\Assets\ReviewRequestedScreenshotDark.png" DisplayAltText="DevHomeGitHub icon" />
                        </Screenshots>
                      </DarkMode>
                      <LightMode>
                        <Icons>
                          <Icon Path="Widgets\Assets\GitHubLogo_Light.png" />
                        </Icons>
                        <Screenshots>
                          <Screenshot Path="Widgets\Assets\ReviewRequestedScreenshotLight.png" DisplayAltText="DevHomeGitHub icon" />
                        </Screenshots>
                      </LightMode>
                    </ThemeResources>
                  </Definition>
                  <Definition Id="GitHub_Releases" DisplayName="ms-resource:Widget_DisplayName_Releases" Description="ms-resource:Widget_Description_Releases" IsCustomizable="true">
                    <Capabilities>
                      <Capability>
                        <Size Name="medium" />
                      </Capability>
                      <Capability>
                        <Size Name="large" />
                      </Capability>
                    </Capabilities>
                    <ThemeResources>
                      <Icons>
                        <Icon Path="Widgets\Assets\GitHubLogo_Light.jpg" />
                      </Icons>
                      <Screenshots>
                        <Screenshot Path="Widgets\Assets\IssuesScreenshotLight.png" DisplayAltText="DevHomeGitHub icon" />
                      </Screenshots>
                      <DarkMode>
                        <Icons>
                          <Icon Path="Widgets\Assets\GitHubLogo_Dark.png" />
                        </Icons>
                        <Screenshots>
                          <Screenshot Path="Widgets\Assets\IssuesScreenshotDark.png" DisplayAltText="DevHomeGitHub icon" />
                        </Screenshots>
                      </DarkMode>
                      <LightMode>
                        <Icons>
                          <Icon Path="Widgets\Assets\GitHubLogo_Light.png" />
                        </Icons>
                        <Screenshots>
                          <Screenshot Path="Widgets\Assets\IssuesScreenshotLight.png" DisplayAltText="DevHomeGitHub icon" />
                        </Screenshots>
                      </LightMode>
                    </ThemeResources>
                  </Definition>
                </Definitions>
              </WidgetProvider>
            </uap3:Properties>
          </uap3:AppExtension>
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>