<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" xmlns:genTemplate="http://schemas.microsoft.com/appx/developer/templatestudio" xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10" xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10" IgnorableNamespaces="uap uap3 rescap genTemplate">
  <Identity Name="Microsoft.Windows.DevHomeGitHubExtension.Dev" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="0.0.0.0" />
  <Properties>
    <DisplayName>Dev Home GitHub Extension (Dev)</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.22000.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="DevHomeGitHubExtension.exe" EntryPoint="$targetentrypoint$">
      <uap:VisualElements DisplayName="ms-resource:AppDisplayNameDev" Description="ms-resource:AppDescription" AppListEntry="none" BackgroundColor="transparent" Square150x150Logo="Assets\MedTile.png" Square44x44Logo="Assets\AppList.png">
        <uap:DefaultTile Wide310x150Logo="Assets\WideTile.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer Executable="DevHomeGitHubExtension.exe" Arguments="-RegisterProcessAsComServer" DisplayName="GitHub Extension Widget">
              <com:Class Id="3AF3462E-0CCE-4200-887B-FB41872A4EFB" DisplayName="GitHub Extension Widget" />
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer Executable="DevHomeGitHubExtension.exe" Arguments="-RegisterProcessAsComServer" DisplayName="GitHub Extension">
              <com:Class Id="190B5CB2-BBAC-424E-92F8-98C7C41C1039" DisplayName="GitHub Extension" />
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>
        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension Name="com.microsoft.devhome" Id="PG-SP-ID" PublicFolder="Public" DisplayName="ms-resource:AppDisplayNameDev" Description="ms-resource:AppDescription">
            <uap3:Properties>
              <DevHomeProvider>
                <Activation>
                  <CreateInstance ClassId="190B5CB2-BBAC-424E-92F8-98C7C41C1039" />
                </Activation>
                <SupportedInterfaces>
                  <DeveloperId />
                  <Repository />
                  <Settings />
                </SupportedInterfaces>
              </DevHomeProvider>
            </uap3:Properties>
          </uap3:AppExtension>
        </uap3:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="devhome">
            <uap:DisplayName>Login to Dev Home</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <desktop:Extension Category="windows.toastNotificationActivation">
          <desktop:ToastNotificationActivation ToastActivatorCLSID="01E4A0B1-D229-4A9A-8936-C2AC42BBCEC7" />
        </desktop:Extension>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer Executable="DevHomeGitHubExtension.exe" Arguments="----AppNotificationActivated:" DisplayName="DevHome GitHub Extension Toast Activator">
              <com:Class Id="01E4A0B1-D229-4A9A-8936-C2AC42BBCEC7" DisplayName="DevHome GitHub Extension Toast Activator" />
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>
        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension Name="com.microsoft.windows.widgets" DisplayName="ms-resource:WidgetProviderDisplayNameDev" Id="01" PublicFolder="Public">
            <uap3:Properties>
              <WidgetProvider>
                <ProviderIcons>
                  <Icon Path="Assets\StoreLogo.scale-100.png" />
                </ProviderIcons>
                <Activation>
                  <!-- Apps exports COM interface which implements IWidgetProvider -->
                  <CreateInstance ClassId="3AF3462E-0CCE-4200-887B-FB41872A4EFB" />
                </Activation>
                <Definitions>
                  <Definition Id="GitHub_Issues" DisplayName="ms-resource:Widget_DisplayName_Issues" Description="ms-resource:Widget_Description_Issues" IsCustomizable="true">
                    <Capabilities>
                      <Capability>
                        <Size Name="medium" />
                      </Capability>
                      <Capability>
                        <Size Name="large" />
                      </Capability>
                    </Capabilities>
                    <ThemeResources>
                      <Icons>
                        <Icon Path="Widgets\Assets\GitHubLogo_Light.jpg" />
                      </Icons>
                      <Screenshots>
                        <Screenshot Path="Widgets\Assets\IssuesScreenshotLight.png" DisplayAltText="ms-resource:Widget_ScreenshotAltDisplay_Issues" />
                      </Screenshots>
                      <DarkMode>
                        <Icons>
                          <Icon Path="Widgets\Assets\GitHubLogo_Dark.png" />
                        </Icons>
                        <Screenshots>
                          <Screenshot Path="Widgets\Assets\IssuesScreenshotDark.png" DisplayAltText="ms-resource:Widget_ScreenshotAltDisplay_Issues" />
                        </Screenshots>
                      </DarkMode>
                      <LightMode>
                        <Icons>
                          <Icon Path="Widgets\Assets\GitHubLogo_Light.png" />
                        </Icons>
                        <Screenshots>
                          <Screenshot Path="Widgets\Assets\IssuesScreenshotLight.png" DisplayAltText="ms-resource:Widget_ScreenshotAltDisplay_Issues" />
                        </Screenshots>
                      </LightMode>
                    </ThemeResources>
                  </Definition>
                  <Definition Id="GitHub_PullRequests" DisplayName="ms-resource:Widget_DisplayName_PullRequests" Description="ms-resource:Widget_Description_PullRequests" IsCustomizable="true">
                    <Capabilities>
                      <Capability>
                        <Size Name="medium" />
                      </Capability>
                      <Capability>
                        <Size Name="large" />
                      </Capability>
                    </Capabilities>
                    <ThemeResources>
                      <Icons>
                        <Icon Path="Widgets\Assets\GitHubLogo_Light.jpg" />
                      </Icons>
                      <Screenshots>
                        <Screenshot Path="Widgets\Assets\PullRequestsScreenshotLight.png" DisplayAltText="ms-resource:Widget_ScreenshotAltDisplay_PullRequests" />
                      </Screenshots>
                      <DarkMode>
                        <Icons>
                          <Icon Path="Widgets\Assets\GitHubLogo_Dark.png" />
                        </Icons>
                        <Screenshots>
                          <Screenshot Path="Widgets\Assets\PullRequestsScreenshotDark.png" DisplayAltText="ms-resource:Widget_ScreenshotAltDisplay_PullRequests" />
                        </Screenshots>
                      </DarkMode>
                      <LightMode>
                        <Icons>
                          <Icon Path="Widgets\Assets\GitHubLogo_Light.png" />
                        </Icons>
                        <Screenshots>
                          <Screenshot Path="Widgets\Assets\PullRequestsScreenshotLight.png" DisplayAltText="ms-resource:Widget_ScreenshotAltDisplay_PullRequests" />
                        </Screenshots>
                      </LightMode>
                    </ThemeResources>
                  </Definition>
                  <Definition Id="GitHub_MentionedIns" DisplayName="ms-resource:Widget_DisplayName_MentionedIn" Description="ms-resource:Widget_Description_MentionedIn" IsCustomizable="true">
                    <Capabilities>
                      <Capability>
                        <Size Name="medium" />
                      </Capability>
                      <Capability>
                        <Size Name="large" />
                      </Capability>
                    </Capabilities>
                    <ThemeResources>
                      <Icons>
                        <Icon Path="Widgets\Assets\GitHubLogo_Light.jpg" />
                      </Icons>
                      <Screenshots>
                        <Screenshot Path="Widgets\Assets\MentionedInScreenshotLight.png" DisplayAltText="ms-resource:Widget_ScreenshotAltDisplay_MentionedIn" />
                      </Screenshots>
                      <DarkMode>
                        <Icons>
                          <Icon Path="Widgets\Assets\GitHubLogo_Dark.png" />
                        </Icons>
                        <Screenshots>
                          <Screenshot Path="Widgets\Assets\MentionedInScreenshotDark.png" DisplayAltText="ms-resource:Widget_ScreenshotAltDisplay_MentionedIn" />
                        </Screenshots>
                      </DarkMode>
                      <LightMode>
                        <Icons>
                          <Icon Path="Widgets\Assets\GitHubLogo_Light.png" />
                        </Icons>
                        <Screenshots>
                          <Screenshot Path="Widgets\Assets\MentionedInScreenshotLight.png" DisplayAltText="ms-resource:Widget_ScreenshotAltDisplay_MentionedIn" />
                        </Screenshots>
                      </LightMode>
                    </ThemeResources>
                  </Definition>
                  <Definition Id="GitHub_Assigneds" DisplayName="ms-resource:Widget_DisplayName_AssignedToMe" Description="ms-resource:Widget_Description_AssignedToMe" IsCustomizable="true">
                    <Capabilities>
                      <Capability>
                        <Size Name="medium" />
                      </Capability>
                      <Capability>
                        <Size Name="large" />
                      </Capability>
                    </Capabilities>
                    <ThemeResources>
                      <Icons>
                        <Icon Path="Widgets\Assets\GitHubLogo_Light.jpg" />
                      </Icons>
                      <Screenshots>
                        <Screenshot Path="Widgets\Assets\AssignedToMeScreenshotLight.png" DisplayAltText="ms-resource:Widget_ScreenshotAltDisplay_AssignedToMe" />
                      </Screenshots>
                      <DarkMode>
                        <Icons>
                          <Icon Path="Widgets\Assets\GitHubLogo_Dark.png" />
                        </Icons>
                        <Screenshots>
                          <Screenshot Path="Widgets\Assets\AssignedToMeScreenshotDark.png" DisplayAltText="ms-resource:Widget_ScreenshotAltDisplay_AssignedToMe" />
                        </Screenshots>
                      </DarkMode>
                      <LightMode>
                        <Icons>
                          <Icon Path="Widgets\Assets\GitHubLogo_Light.png" />
                        </Icons>
                        <Screenshots>
                          <Screenshot Path="Widgets\Assets\AssignedToMeScreenshotLight.png" DisplayAltText="ms-resource:Widget_ScreenshotAltDisplay_AssignedToMe" />
                        </Screenshots>
                      </LightMode>
                    </ThemeResources>
                  </Definition>
                  <Definition Id="GitHub_Reviews" DisplayName="ms-resource:Widget_DisplayName_Reviews" Description="ms-resource:Widget_Description_Reviews" IsCustomizable="false">
                    <Capabilities>
                      <Capability>
                        <Size Name="medium" />
                      </Capability>
                      <Capability>
                        <Size Name="large" />
                      </Capability>
                    </Capabilities>
                    <ThemeResources>
                      <Icons>
                        <Icon Path="Widgets\Assets\GitHubLogo_Light.jpg" />
                      </Icons>
                      <Screenshots>
                        <Screenshot Path="Widgets\Assets\ReviewRequestedScreenshotLight.png" DisplayAltText="ms-resource:Widget_ScreenshotAltDisplay_Reviews" />
                      </Screenshots>
                      <DarkMode>
                        <Icons>
                          <Icon Path="Widgets\Assets\GitHubLogo_Dark.png" />
                        </Icons>
                        <Screenshots>
                          <Screenshot Path="Widgets\Assets\ReviewRequestedScreenshotDark.png" DisplayAltText="ms-resource:Widget_ScreenshotAltDisplay_Reviews" />
                        </Screenshots>
                      </DarkMode>
                      <LightMode>
                        <Icons>
                          <Icon Path="Widgets\Assets\GitHubLogo_Light.png" />
                        </Icons>
                        <Screenshots>
                          <Screenshot Path="Widgets\Assets\ReviewRequestedScreenshotLight.png" DisplayAltText="ms-resource:Widget_ScreenshotAltDisplay_Reviews" />
                        </Screenshots>
                      </LightMode>
                    </ThemeResources>
                  </Definition>
                  <Definition Id="GitHub_Releases" DisplayName="ms-resource:Widget_DisplayName_Releases" Description="ms-resource:Widget_Description_Releases" IsCustomizable="true">
                    <Capabilities>
                      <Capability>
                        <Size Name="medium" />
                      </Capability>
                      <Capability>
                        <Size Name="large" />
                      </Capability>
                    </Capabilities>
                    <ThemeResources>
                      <Icons>
                        <Icon Path="Widgets\Assets\GitHubLogo_Light.jpg" />
                      </Icons>
                      <Screenshots>
                        <Screenshot Path="Widgets\Assets\ReleasesScreenshotLight.png" DisplayAltText="ms-resource:Widget_ScreenshotAltDisplay_Releases" />
                      </Screenshots>
                      <DarkMode>
                        <Icons>
                          <Icon Path="Widgets\Assets\GitHubLogo_Dark.png" />
                        </Icons>
                        <Screenshots>
                          <Screenshot Path="Widgets\Assets\ReleasesScreenshotDark.png" DisplayAltText="ms-resource:Widget_ScreenshotAltDisplay_Releases" />
                        </Screenshots>
                      </DarkMode>
                      <LightMode>
                        <Icons>
                          <Icon Path="Widgets\Assets\GitHubLogo_Light.png" />
                        </Icons>
                        <Screenshots>
                          <Screenshot Path="Widgets\Assets\ReleasesScreenshotLight.png" DisplayAltText="ms-resource:Widget_ScreenshotAltDisplay_Releases" />
                        </Screenshots>
                      </LightMode>
                    </ThemeResources>
                  </Definition>
                </Definitions>
              </WidgetProvider>
            </uap3:Properties>
          </uap3:AppExtension>
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>